@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#landing {
    background-image: url('../img/flutter_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#dart {
    background-image: url('../img/dart_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

body {
    background-color: rgba(200, 200, 200, 0.5);
    font-family: 'Montserrat';
}

@media print {
    body {
        background-color: white;
    }
}