{% extends "_base.html" %}

{% block title %}Query Databases{% endblock title %}

{% block head %}
<h1>Select database query</h1>
{% endblock %}

{% block body %}
<form action="/results" method="POST">
	<select id="search-parameter">
		<option value="Cohort Year">Cohort Year</option>
		<option value="Cohort Demographic">Cohort Demographic</option>
	</select>
	<br>
	<input type="text" name="value" placeholder="query"></input>
	<br>
	<br>
	<input type="submit" name="submit"></input>
</form>
{% endblock %}

